@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

th {
    background-color: #F5F5F5;
}
td {
    border-color: #E1CFFF;
}

.container .rating{
    direction: rtl;
}

.container .rating label{
    display: inline-block;
    cursor: pointer;
    color: #ebebeb;
}

.container .rating label i{
    font-size: 1rem;
    transition: 0.2s ease-in;
}
.container .rating label:hover i,
.container .rating label:hover ~ label i{
    color: #6926D7;
}

.container .rating .rating-radio {
    display: none;
}

.container .rating input[type="radio"]:checked + label i,
.container .rating input[type="radio"]:checked ~ label i {
    color: #6926D7;
} 
