/* Styling the whole web page 
Using flex and flex direction as well as  height 100 visual port
for Footer to be on the bottom of the page*/
body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* margin top so we can see the listed items better*/
header {
    background-color: darkcyan;
    margin-top: 5px;
}

/* main navigation flexing them so they can be side by side*/
.main-nav ul {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.nav-item {
    color: white
}
.nav-item:hover {
    color: gold;
    cursor: pointer;
}

article h2 {
    color: goldenrod;
    text-align: center;
}

/* This is for the image to be in the center of the page*/
article figure {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#link {
    display: block;
    text-align: center;
}

/* Aside content which should be right next to the image and should be 
on the right side border of the page*/
.aside-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 150px;
}

/* Footer had to make the position relative for the secret image popup
margin top auto so the footer drops down to the bottom*/
footer {
    background-color: darkcyan;
    color: white;
    text-align: center;
    margin-top: auto;
    position: relative;
}

/* this is the secret image hiding it till the user clicks and holds
using top and left so the image shall appear on top of the footer text
z-index so it doesnt get hidden by other texts*/
footer .footer-image {
    display: none;
    position: absolute;
    width: 300px;
    z-index: 1;
    top: -300px;
    left: 45%;
}

/* showing the image when holding the cursor*/
footer address:active + .footer-image{
    display: block;
}


footer address:hover {
    color: goldenrod;
    cursor: pointer;
}

/* when active shows the secret message */
footer:active .message {
    display: block; 
    font-weight: bolder;
}


